<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WebSocket Whiteboard Example</title>
    <script src="/client.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="/client.css">
    
    <!-- Game engine library and setting -->
  	<script type="text/javascript" src="akihabara/gbox.js"></script>
  	<script type="text/javascript" src="akihabara/iphopad.js"></script>
  	<script type="text/javascript" src="akihabara/trigo.js"></script>
  	<script type="text/javascript" src="akihabara/toys.js"></script>
  	<script type="text/javascript" src="akihabara/help.js"></script>
  	<script type="text/javascript" src="akihabara/tool.js"></script>
  	<script type="text/javascript" src="akihabara/gamecycle.js"></script>
  	<style>BODY { -webkit-user-select:none; margin:0px}</style>
  	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />  

    <!-- BSON -->
    <script type="text/javascript" src="bson/binary.js"></script>
    <script type="text/javascript" src="bson/binary_parser.js"></script>
    <script type="text/javascript" src="bson/long.js"></script>
    <script type="text/javascript" src="bson/code.js"></script>
    <script type="text/javascript" src="bson/db_ref.js"></script>
    <script type="text/javascript" src="bson/double.js"></script>
    <script type="text/javascript" src="bson/float_parser.js"></script>
    <script type="text/javascript" src="bson/max_key.js"></script>
    <script type="text/javascript" src="bson/min_key.js"></script>
    <script type="text/javascript" src="bson/objectid.js"></script>
    <script type="text/javascript" src="bson/symbol.js"></script>
    <script type="text/javascript" src="bson/timestamp.js"></script>
    <script type="text/javascript" src="bson/bson.js"></script>

    <!-- Actual game -->
    <script type="text/javascript" src="communication.js"></script>
    <script type="text/javascript" src="game.js"></script>
    <script type="text/javascript" src="playermongoman.js"></script>
    <script type="text/javascript" src="playerghost.js"></script>
    <script type="text/javascript" src="remoteplayer.js"></script>
  </head>
  <body>
  </body>
</html>