<head>
  <style>
    form {
      font-family:Courier, Georgia, Serif;
      text-align:center;
      vertical-align:text-top;
      position:relative;
      top:75;
      color:white;
    }
    
    body {
      background-color:black;
    }
    
    a {
      color:red;
    }
    
    #copyright {
      text-align:center;      
    }
    
    strong {
      font-family:Courier, Georgia, Serif;
      font-size:8pt;
      text-align:center;
      vertical-align:text-top;
      position:relative;
      top:200;
      color:white;      
    }
    
    #error {
      color:red;
    }
  </style>
</head>
<body>
  <form action='/game' method='post'>
    <img src='resources/mongoman/logo.png'/>
    <h1>JOIN THE FIGHT</h1>
    <h2><a href="/highscore">Highscore list</a></h2>
    <div id="error"><%= typeof values == 'undefined' ? '' : values.error %></div>
    <div>
      Username <input id="name" name="name" type='text'/><br/>
      Password <input id="password" name="password" type='password'/>
      <p/>
    </div>    
    <input type='submit' value="Start"/>
    <p/>
    <p/>
  </form>
  <div id="copyright">
    <strong>Adapted from akihabara example by (Francesco Cottone, <a href="http://www.kesiev.com/">http://www.kesiev.com/</a>) by Christian Kvalheim</strong>
    <br/>
    <strong>Background music (Only Heroes Win at Skee Ball) by Greenleo, Contact him: <a href="http://greenleo.bandcamp.com">http://greenleo.bandcamp.com</a></strong>
  </div>
</body>