<head>  
  <style>
    svg {
      font: 10px sans-serif;
    }

    .line {
      fill: none;
      stroke: #000;
      stroke-width: 1.5px;
    }

    .axis path, .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
  </style>
</head>

<body>
  <!-- D3 library -->
  <script type="text/javascript" src="stats/d3.v2.min.js"></script>
  <!-- Rendering library -->
  <script type="text/javascript" src="stats/stats.js"></script>
</body>